<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'main:intro' %}">
      <img src="https://image.flaticon.com/icons/svg/864/864781.svg" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'community:all_of_article' %}">Reviews<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:movie_index' %}">Manager <span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ request.user.nickname }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'accounts:detail' request.user.nickname %}">My page</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a> 
          </div>
        </li>
        {% else %}
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a> 
            <a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a> 
        {% endif %}
      </ul>
      <form action="{% url 'main:search' %}" class="form-inline my-2 my-lg-0">
        <input name="movie_title" class="form-control mr-sm-2" type="search" placeholder="영화 검색" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>